/* Змінні */

/* Кольори */
$green: #4ea62f;
$light-green: #EFF9EB;
$light-green-primary: #E1EDDD;
$white: #ffffff;
$black: #000;
$grey-light: #7c858c;
$grey-medium: #767676;
$grey-dark: #666666;
$dark-grey-primary: #999999;
$light-gray-primary: #F7F8FA;
$light-gray-secondary: #E4E4E4;
$semi-transparent-gray: #6363638b;
$red-primary: #C81010;
$bg-light: #f6f6f6;
$bg-medium: #b1b1b1;
$bg-dark: #1d1d29;
$bg-form: rgba(255, 255, 255, 0.90);
$loader-bg-color: rgba(255, 255, 255, 0.8);

/* Розміри */
$container-max-width: 1440px;
$padding: 40px;

/* Шрифти */
$font-main: "Montserrat", sans-serif;
$font-inter: "Inter", sans-serif;
$font-manrope: "Manrope", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-size: 16px;
$font-style: normal;
